version: "3.7"

services:
  ticksy-api:
    build: .
    image: ticksy-api:latest
    container_name: ticksy-api
    restart: always
    ports:
      - 127.0.0.1:6002:8000
    env_file:
      - .env.prod
    networks:
      - mysql-network
    external_links:
      - mysql
    volumes:
      - /srv/TicksyAPI/media:/app/media
      - /srv/TicksyAPI/static:/app/static
      - /srv/TicksyAPI/pip:/root/.cache/pip
      - /srv/TicksyAPI/migrations:/app/ticketing/migrations

networks:
  mysql-network:
    external: true
